<footer class="footer mt-auto">
  <div class="container">
    <div class="row">

      <div class="col">
        Left Side
      </div>

      <div class="col text-center">
        <ul class="list-inline footer-social-buttons">
          <li class="list-inline-item">Mid Item 1</li>
          <li class="list-inline-item">Mid Item 2</li>
        </ul>
      </div>

      <div class="col">
        <ul class="list-inline float-right footer-links">
          <li class="list-inline-item">Right Side</li>
        </ul>
      </div>

    </div>
  </div>
</footer>
