<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
      <!-- TODO: Allow for base image instead of text. -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {{ range .Site.Params.menu }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .url }}">{{ .name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
